/* 定宽布局 */
* {
  margin: 0px;
  padding: 0px;
}
.inner-header {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
header {
  background: #eee;
  height: 100px;
  line-height: 100px;
}
nav ul {
  float: left;
}
.user-info ul {
  float: right;
}
header .nav-list li {
  vertical-align: middle;
  display: inline-block;
  margin-left: 35px;
}
header .user-info ul li {
  margin-right: 25px;
  display: inline-block;
}
header a {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}
header a:hover {
  color: #188ae2;
  text-decoration: #188ae2;
}
.logo {
  float: left;
}
.logo img {
  margin: 25px;
  vertical-align: middle;
}
span.hidden {
  display: none;
}
