<footer>
    <div class="footer">
        <div class="footer-bottom">
            <div class="footer-bottom-list">
                <img src="../../images/tel_bottom.png">
                <div class="tel_number">4008-852-999</div>
                <p>服务时间:</p>
                <p>(9:00-21:00)</p>
            </div>
            <div class="footer-bottom-list">
                <div class="tit-con tel-number">
                    <img src="../../images/online.png">在线客服
                </div>
                <p>人工服务：</p>
                <p>(9:00-21:00)</p>
            </div>
            <div class="enjoy-list">
                <div class="enjoy-p">
                    <span>分享</span>好友：</div>
                <div class="enjoy-a-div">
                    <a href="#">
                        <img src="../../images/b1.png">
                    </a>
                    <a href="#">
                        <img src="../../images/b2.png">
                    </a>

                </div>
            </div>
            <div class="enjoy-list">
                <div class="enjoy-p">
                    <span>关注</span>我们:</div>
                <div class="enjoy-a-div">
                    <a href="#">
                        <img src="../../images/b1.png">
                    </a>
                    <a href="#">
                        <img src="../../images/b2.png">
                    </a>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="bottom-desc">
            <p>HS嗨深有限公司
                <a href="#">粤ICP备13029546号</a>
            </p>
            <p>公司地址：广东省深圳市南山区香山东街1号华侨城东部工业区H-3栋6楼601</p>
        </div>
    </div>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>
</footer>