<header>
    <div class="inner-header">
        <div class="logo">
            <a href="#">
                <img src="../../images/logo.png" alt="">
            </a>
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">FOOTWEAR</a>
                </li>
                <li class="nav-item">
                    <a href="#">CLOTHING</a>
                </li>
                <li class="nav-item">
                    <a href="#">ACCESSORIES</a>
                </li>
                <li class="nav-item">
                    <a href="#"> BRANDS</a>
                </li>
                <li class="nav-item">
                    <a href="#">EXCLUSIVE</a>
                </li>
            </ul>
        </nav>
        <div class="user-info">
            <ul class="user-list">
                <li class="nav-item">
                    <i class="fa fa-search"></i>
                    SEARCH
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        CART
                        <span>(2)</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="login.html">
                        <i class="fa fa-user"></i>SIGN IN</a>
                </li>
            </ul>
        </div>
    </div>
</header>