<header>
    <div class="inner-header">
        <div class="logo">
            <a href="index.html">
                <img src="../../images/logo.png" alt="">
            </a>
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">家用电器</a>
                </li>
                <li class="nav-item">
                    <a href="#">数码3C</a>
                </li>
                <li class="nav-item">
                    <a href="#">服装箱包</a>
                </li>
                <li class="nav-item">
                    <a href="#"> 食品生鲜</a>
                </li>
                <li class="nav-item">
                    <a href="#">酒水饮料</a>
                </li>
            </ul>
            <ul class="user-list">
                <li class="user-item">
                    <a href="#" class="search-active">
                        <i class="fa fa-search"></i>
                        搜索
                    </a>
                </li>
                <li class="user-item">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        购物车
                        <span>(2)</span>
                    </a>

                </li>
                <li class="user-item">
                    <span class="not-login">
                        <a href="login.html">
                            <i class="fa fa-user"></i>登录</a>
                    </span>

                    <span class="link-text hidden userlogin">
                        欢迎，
                        <span class="username"></span>
                        <span class="link logout"><a href="index.html">退出</a></span>
                    </span>
                </li>
            </ul>
    </nav>
    </div>
</header>