<header>
    <div class="inner-header">
        <div class="logo">
            <a href="#">
                <img src="../../images/logo.png" alt="">
            </a>
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">FOOTWEAR</a>
                </li>
                <li class="nav-item">
                    <a href="#">CLOTHING</a>
                </li>
                <li class="nav-item">
                    <a href="#">ACCESSORIES</a>
                </li>
                <li class="nav-item">
                    <a href="#"> BRANDS</a>
                </li>
                <li class="nav-item">
                    <a href="#">EXCLUSIVE</a>
                </li>
            </ul>
        </nav>
        <div class="user-info">
            <ul class="user-list">
                <li class="nav-item">
                    <input type="search">
                    <a href="#" class="search-active">
                        <i class="fa fa-search"></i>
                        SEARCH
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        CART
                        <span>(2)</span>
                    </a>

                </li>
                <li class="nav-item">
                    <span class="not-login">
                        <a href="login.html">
                            <i class="fa fa-user"></i>SIGN IN</a>
                    </span>

                    <span class="link-text hidden userlogin">
                        欢迎，
                        <span class="username"></span>
                        <span class="link logout">退出</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</header>